<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pebble - Demo</title>
    </head>
    <body>
        <h1>Pebble - Demo</h1>
        <h2>It's works</h2>
        <footer>
            &copy; 2011-2012, Digitas France
        </footer>
    </body>
</html>